@model Portfolio.Models.Work

<div class="col-lg-6 p-2  filter @Model.WorkCategory.Name.Replace(' ','_')">
    <div class="card" style="background-color:#333;">
        <img class="card-img-top" src="@WC.ImagePath@Model.Image" style="height:200px" />
        <div class="card-body">
            <div class="row">
                <p class="col card-subtitle text-light">@Model.Start.ToString("MMM yyyy") - @Model.End.ToString("MMM yyyy") </p>
                <p class="col card-subtitle text-light text-right">@Model.skill </p>
            </div>
            <p class="card-title text_custom">@Model.Title</p>
            <p class="card-text font-weight-lighter">@Model.ShortDescription</p>

            @*<div class="row">
                    <div class="col">
                        <img class="img-thumbnail" src="@WC.ImagePath@Model.Image" style="height:300px;width:100%"/>
                    </div>
                </div>*@
            @*<p class="card-text font-weight-lighter">@Model.ShortDescription</p>
                <p class="card-text font-weight-lighter">@Model.Location</p>
                <p class="card-text font-weight-lighter" style="display:none;">@Model.Description</p>*@
        </div>
    </div>
</div>